.leaflet-gmx-center {
    height: 100%;
    width: 100%;
    margin-left: 6px;
    margin-top: 6px;
    pointer-events: none;
    position: absolute;
}
.leaflet-gmx-center div {
    height: 12px;
    width: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-right: 3px;
    bottom: 50%;
    right: 50%;
    position: absolute;
}
