.leaflet-popup-content textarea {
    outline: none;
    -moz-appearance: none;
    border: 1px solid white;
}
.leaflet-popup-content textarea:hover {
    border: 1px solid #999;
}
.gmxTooltipBG {
    fill: white;
    stroke: black;
    stroke-width: 1;
    opacity: 0.85;
}
.leaflet-drawing-lines {
   pointer-events: none;
}
.leaflet-drawing-lines-fill {
    pointer-events: visiblepainted;
}
.leaflet-drawing-points {
    pointer-events: visible;
}

.leaflet-tooltip.staticTooltipPoint .closeBtn {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADnSURBVHgBjVJLEoIwDE3Vmaa7HsGbyYa1eAI5gjdAT8QR4AYsbaFjTRiqHShKZsLQtC+f9wIQmddaD4hXi9iQe/ZeqbpHrJ6IR0iZQzxZKbsAWDjdGSmL8F7wp5fy7IW4wQbbA2QHYx7ALYRKr7b1Q54vqjmK8V2ozCMBHarwgEFsMdhNMRfFqFgJlKGOs8fgFGjyBlJEBPAKaPRdigARS7TGkok0m8+UmnkiqGZWy19EpMC8ENyK/sjRdcmZhpkcLOE4Dv1kNGwFG4yKX9Da77IYpYp/K8cFktm4BfL7TNuGeRi3JbI3ohQ7NwF/tlYAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
	width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    margin-left: 6px;
    top: 2px;
	pointer-events: auto;
	cursor: pointer;
}
.leaflet-drawing-bbox.Move {
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACDSURBVEhL5ZFBCoAwDATzc/25GuhCDpu01A0IDuxFZYZW+x3HWAsuvsbkkSiXR5gck58E4jZkgezoVWD5unDnjCrgz6cRyHcDvjQS5W9HI+cz9vHO3EWJEcbKu1QOEGHMAlM5yD6sAsvyiiogoSWAf8ImuRaHRWRyECNyOXBxm/yLmN2K8muV4HlslQAAAABJRU5ErkJggg=='), pointer;
}
.leaflet-drawing-bbox.Rotate {
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFRSURBVEhLtZRJTsNAEEXNeB/uwIYdgwBxCCSmPbBHCCJxBQRHYhIgTgEs4D2TklpJh9hO+0tPsdvVVWm76lctdTr87U0/ULTIMuzBPbyABUaLGNNJm/ABkTTlDEJvsPV32UwLMIBI9gAHsDK8P4dUEXcFcy5M0w244Qv2YRFC6T8PHYKxUeRfbYOBn7DqQkMZ+w3u3XAhJz/WOxh05EJLeRL3+k2WXCgtX+UjWGTXhT50DBa4q+9GZG/POkTRaU/1XSIT+0C6FrHDIkdQd12aPChRZKyln8EHHnMWmXgsudJvLGC79SJNzQK2Wjq9xeSgOSRdT3EC7jXHRIfVQQ1y7NtYxRpoL+6daBWhazBQA8udJO0wX6VOGz50AVM1D7qiGyRVtKGd5tSGNcglNLLrkEf1fYZy8yKvsA6dlH6sdIi0glvYgaLOGUV6VXZK86qqX08Va+VOfxC5AAAAAElFTkSuQmCC'), pointer;
}

/* static Tooltips */
.leaflet-tooltip.staticTooltip  {
	pointer-events: auto;
}
.leaflet-tooltip.staticTooltip  .content {
	display: flex;
	cursor: text;
}
.leaflet-tooltip.staticTooltip .closeBtn {
    position: relative;
    right: -6px;
    top: -11px;
	cursor: pointer;
}

.leaflet-contextmenu {
    display: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 0;
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
    display: block;
    color: #222;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    padding: 0 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
    opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: #f4f4f4;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
    background-color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    float: left;
    border: 0;
}

.leaflet-contextmenu-separator {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: lightgray;
	cursor: pointer;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over.leaflet-contextmenu-item-disabled {
	cursor: default;
}
.gmxTooltipBGph, .gmxTooltipBGp, .gmxTooltipBG {
    stroke: black;
    stroke-width: 1;
    opacity: 0.85;
    pointer-events: none;
}

.gmxTooltipBGp, .gmxTooltipBG {
    fill: white;
}
.gmxTooltipBGph {
	fill: wheat;
}
